.home {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #2b2b2b; */
}

.home .top-bar {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100px;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
}

.home .wallet-logo {
  /* position: absolute; */
  width: 150px;
  height: auto;  
  /* 34px; */
  top: 33px;
  left: 50px;
}

.home .wallet {
  position: absolute;
  height: 24px;
  top: 4px;
  left: 5px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .primary-CTA {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 9px 12px;
  /* position: absolute; */
  /* left: 1030px; */
  background-color: #ca6ce5;
  border-radius: 15px;
  margin: auto;
  margin-top: 21px;
  margin-right: 21px;
}

.home .get-started {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #ffffff;
  font-size: var(--body-18px-font-size);
  text-align: center;
  letter-spacing: var(--body-18px-letter-spacing);
  line-height: var(--body-18px-line-height);
  white-space: nowrap;
  font-style: var(--body-18px-font-style);
}

.home .header {
  position: relative;
  align-self: stretch;
  width: 100%;
  /* height: 800px; */
  background-color: #2b2b2b;
  overflow: hidden;
}

.home .overlap {
  position: relative;
  /* width: 1280px; */
  /* height: 887px; */
  margin: auto
}

.home .bg {
  position: absolute;
  /* width: 1280px; */
  height: 800px;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
}

.home .image {
  position: absolute;
  /* width: 1280px; */
  height: 800px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* position: absolute;
  top: 100px;
  left: 168px; */
  margin: 'auto';
  padding: 32px 8px;
}

.home .banner-img {
    margin: auto;
    display: flex;
    margin-top: 8px;
}

.home .title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-size: var(--headline-40px-font-size);
  text-align: center;
  line-height: var(--headline-40px-line-height);
  white-space: nowrap;
  font-family: var(--headline-40px-font-family);
  font-weight: var(--headline-40px-font-weight);
  color: #ffffff;
  letter-spacing: var(--headline-40px-letter-spacing);
  font-style: var(--headline-40px-font-style);
}

.home .subtitle {
  position: relative;
  max-width: 90%;
  /* height: 66px; */
  text-align: center;
  line-height: var(--body-18px-line-height);
  opacity: 0.6;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #ffffff;
  font-size: var(--body-18px-font-size);
  letter-spacing: var(--body-18px-letter-spacing);
  font-style: var(--body-18px-font-style);
}

.home .get-started-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 9px 12px;
  position: relative;
  background-color: #ca6ce5;
  width: 200px;
  height: 50px;
  border-radius: 15px;
}

.home .group {
  position: absolute;
  width: 613px;
  height: 466px;
  top: 421px;
  left: 334px;
}

.home .overlap-group {
  position: relative;
  width: 612px;
  height: 375px;
  top: 4px;
}

.home .whatsapp-image-jan {
  position: absolute;
  width: 365px;
  height: 375px;
  top: 0;
  left: 0;
}

.home .img {
  position: absolute;
  width: 282px;
  height: 358px;
  top: 16px;
  left: 151px;
}

.home .whatsapp-image-jan-2 {
  position: absolute;
  width: 366px;
  height: 355px;
  top: 19px;
  left: 246px;
  object-fit: cover;
}

.home .airport {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 615px;
  left: 239px;
}

.home .airport-2 {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 606px;
  left: 947px;
}

.home .beach {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 720px;
  left: 983px;
}

.home .suitcase {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 695px;
  left: 903px;
}

.home .next-location {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 710px;
  left: 198px;
}

.home .taxi {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 710px;
  left: 298px;
}

.home .product-image {
  position: relative;
  align-self: stretch;
  width: 100%;
  /* height: 500px; */
  background-color: #2b2b2b;
  display: flex;
  padding: 100px;
}

.product-image > div {

}

.home .div {
  position: relative;
  width: 100%;
  /* height: 500px; */
  /* top: 100px;
  left: 100px; */
  /* background-color: #fdf5df; */
  border-radius: 20px;
  margin: auto;
}

.home .features {
  position: relative;
  align-self: stretch;
  width: 100%;
  min-height: 518px;
  background-color: #2b2b2b;
}

.home .features-wrapper {
  position: relative;
  /* width: 1044px; */
  /* height: 429px; */
  /* top: 50px;
  left: 104px; */
  margin: auto;
}

.home .features-2 {
  position: relative;
  /* height: 429px; */
}

.home .feature {
  /* height: 198px;
  top: 14px;
  left: 580px;
  position: absolute;
  width: 468px; */
  /* margin: auto; */
  flex: 1;
  min-width: 50%;
  margin: 32px 0px;
}

.home .text-wrapper {
  /* position: absolute;
  width: 353px;
  top: 48px;
  left: 111px; */
  line-height: 25px;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
}

.home .tile {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  /* position: absolute;
  width: 353px;
  top: 0;
  left: 111px; */
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 32px;
}

.home .icon {
  /* position: absolute; */
  width: 70px;
  height: 70px;
  margin: auto;
  /* top: 3px;
  left: 0; */
}

.home .img-2 {
  /* position: absolute; */
  width: 80px;
  height: 80px;
  /* top: -5px;
  left: -5px; */
}

.home .feature-2 {
  height: 192px;
  /* top: 237px;
  left: 0;
  position: absolute; */
  width: 468px;
}

.home .p {
  /* position: absolute;
  width: 353px;
  top: 42px;
  left: 111px; */
  line-height: 25px;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  margin-left: 8px;
}

.home .tile-2 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  width: 353px;
  top: 0;
  left: 111px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.home .coin-icon {
  /* position: absolute; */
  width: 70px;
  height: 70px;
  /* top: 18px;
  left: 0; */
}

.home .feature-3 {
  /* height: 192px;
  top: 234px;
  left: 580px;
  position: absolute;
  width: 468px; */
}

.home .feature-4 {
  height: 194px;
  top: 0;
  left: 0;
  position: absolute;
  width: 468px;
}

.home .subtitle-2 {
  /* position: absolute;
  width: 353px;
  top: 69px;
  left: 111px; */
  line-height: 25px;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
}

.home .cards-icon {
  /* position: absolute; */
  width: 70px;
  height: 70px;
  /* top: 26px;
  left: 0; */
}

.home .user-feedback {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 520px;
  background-color: #2b2b2b;
}

.home .overlap-group-wrapper {
  position: relative;
  width: 100%;
  height: 460px;
  /* top: 30px;
  left: 100px; */
  margin: auto;
}

.home .overlap-group-2 {
  position: relative;
  width: 90%;
  height: 460px;
  background-color: #ecadff;
  border-radius: 20px;
  display: flex;
  padding: 32px;
  margin: auto;
}

.home .add-name-here {
  /* position: absolute;
  top: 315px;
  left: 494px; */
  opacity: 0.4;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #2b2b2b;
  font-size: var(--body-18px-font-size);
  text-align: center;
  letter-spacing: var(--body-18px-letter-spacing);
  line-height: var(--body-18px-line-height);
  white-space: nowrap;
  font-style: var(--body-18px-font-style);
}

.home .text {
  /* position: absolute; */
  /* width: 734px; */
  /* top: 179px;
  left: 173px; */
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #2b2b2b;
  font-size: var(--body-18px-font-size);
  text-align: center;
  letter-spacing: var(--body-18px-letter-spacing);
  line-height: var(--body-18px-line-height);
  font-style: var(--body-18px-font-style);
}

.home .quote-icon {
  /* position: absolute; */
  width: 62px;
  height: 46px;
  /* top: 113px;
  left: 509px; */
}

.home .features-px {
  position: relative;
  width: 100%;
  min-height: 364px;
  background-color: #2b2b2b;
  padding-bottom: 40px;
  margin-top: -1px;
}

.home .text-wrapper-2 {
  /* position: absolute;
  top: 20px;
  left: 458px; */
  font-family: var(--headline-40px-font-family);
  font-weight: var(--headline-40px-font-weight);
  color: #ffffff;
  font-size: var(--headline-40px-font-size);
  text-align: center;
  letter-spacing: var(--headline-40px-letter-spacing);
  line-height: var(--headline-40px-line-height);
  white-space: nowrap;
  font-style: var(--headline-40px-font-style);
}

.home .div-wrapper {
  /* position: absolute;
  width: 1049px;
  height: 96px;
  top: 114px;
  left: 107px; */
}

.home .overlap-group-3 {
  position: relative;
  width: 1053px;
  height: 96px;
}

.home .group-2 {
  /* position: absolute;
  width: 1049px;
  height: 83px;
  top: 13px;
  left: 0; */
}

.home .rectangle {
  width: 307px;
  /* left: 0;
  position: absolute; */
  height: fit-content;
  top: 0;
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid;
  border-color: #ca6ce5;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home .rectangle-2 {
  width: 287px;
  left: 404px;
  position: absolute;
  /* height: 83px; */
  top: 0;
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid;
  border-color: #ca6ce5;
  padding: 16px;
}

.home .rectangle-3 {
  width: 286px;
  left: 763px;
  position: absolute;
  height: 83px;
  top: 0;
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid;
  border-color: #ca6ce5;
  padding: 16px;
}

.home .group-3 {
  position: absolute;
  width: 1040px;
  height: 96px;
  top: 0;
  left: 13px;
}

.home .rs-rs {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.home .span {
  font-weight: var(--body-bold-18px-font-weight);
  color: #ffffff;
  line-height: var(--body-bold-18px-line-height);
  text-decoration: line-through;
  font-family: var(--body-bold-18px-font-family);
  font-style: var(--body-bold-18px-font-style);
  letter-spacing: var(--body-bold-18px-letter-spacing);
  font-size: var(--body-bold-18px-font-size);
}

.home .also {
  font-weight: var(--body-bold-18px-font-weight);
  color: #ca6ce5;
  line-height: var(--body-bold-18px-line-height);
  text-decoration: none;
  font-family: var(--body-bold-18px-font-family);
  font-style: var(--body-bold-18px-font-style);
  letter-spacing: var(--body-bold-18px-letter-spacing);
  font-size: 14px;
}

.home .also .alsoo {
  color: #ca6ce5;
}

.home .text-wrapper-3 {
  font-weight: var(--headline-40px-font-weight);
  color: #ffffff;
  font-size: var(--headline-40px-font-size);
  line-height: var(--headline-40px-line-height);
  font-family: var(--headline-40px-font-family);
  font-style: var(--headline-40px-font-style);
  letter-spacing: var(--headline-40px-letter-spacing);
}

.home .text-wrapper-4 {
  font-weight: var(--secondary-body-semi-bold-24px-font-weight);
  color: #ca6ce5;
  font-size: var(--secondary-body-semi-bold-24px-font-size);
  line-height: var(--secondary-body-semi-bold-24px-line-height);
  font-family: var(--secondary-body-semi-bold-24px-font-family);
  font-style: var(--secondary-body-semi-bold-24px-font-style);
  letter-spacing: var(--secondary-body-semi-bold-24px-letter-spacing);
}

.home .text-wrapper-5 {
  font-weight: var(--secondary-body-semi-bold-24px-font-weight);
  color: #ffffff;
  font-size: var(--secondary-body-semi-bold-24px-font-size);
  line-height: var(--secondary-body-semi-bold-24px-line-height);
  font-family: var(--secondary-body-semi-bold-24px-font-family);
  font-style: var(--secondary-body-semi-bold-24px-font-style);
  letter-spacing: var(--secondary-body-semi-bold-24px-letter-spacing);
}

.home .rs-rs-2 {
  position: absolute;
  top: 0;
  left: 397px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.home .rs-rs-3 {
  position: absolute;
  top: 0;
  left: 757px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.home .overlap-wrapper {
  /* position: absolute;
  top: 283px;
  left: 555px; */
  background-color: #2b2b2b;
  /* var(--yellow); */
  /* width: 200px;
  height: 50px;
  border-radius: 15px; */
}

.home .overlap-group-4 {
  position: relative;
  height: 50px;
  border-radius: 15px;
}

.home .hover {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ca6ce5;
  border-radius: 15px;
  transition: all 0.2s ease;
}

.home .hover:hover {
  background-color: #e8bf59;
}

.home .CTA {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  left: 25px;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #ffffff;
  font-size: var(--body-18px-font-size);
  text-align: center;
  letter-spacing: var(--body-18px-letter-spacing);
  line-height: var(--body-18px-line-height);
  white-space: nowrap;
  font-style: var(--body-18px-font-style);
}

.home .text-wrapper-6 {
  /* position: absolute;
  top: 242px;
  left: 512px; */
  opacity: 0.6;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #ffffff;
  font-size: var(--body-18px-font-size);
  text-align: center;
  letter-spacing: var(--body-18px-letter-spacing);
  line-height: var(--body-18px-line-height);
  white-space: nowrap;
  font-style: var(--body-18px-font-style);
}

.home .CTA-px {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 600px;
  background-color: #2b2b2b;
  display: flex;
}

.home .group-4 {
  position: relative;
  width: 1084px;
  height: 400px;
  /* top: 100px;
  left: 100px; */
  margin: auto;
}

.home .GIF {
  /* position: absolute; */
  max-width: 500px;
  max-height: 400px;
  top: 0;
  /* left: 580px; */
  background-image: url(https://cdn.animaapp.com/projects/630dc37cacb332ac4dee2e04/files/1000x800.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.home .primary-CTA-2 {
  position: absolute;
  top: 316px;
  left: 0;
  background-color: #ca6ce5;
  width: 200px;
  height: 50px;
  border-radius: 15px;
}

.home .subtitle-3 {
  /* position: absolute; */
  /* width: 400px; */
  /* top: 104px;
  left: 0; */
  line-height: var(--body-18px-line-height);
  opacity: 0.6;
  font-family: var(--body-18px-font-family);
  font-weight: var(--body-18px-font-weight);
  color: #ffffff;
  font-size: var(--body-18px-font-size);
  letter-spacing: var(--body-18px-letter-spacing);
  font-style: var(--body-18px-font-style);
}

.home .title-2 {
  /* position: absolute; */
  /* width: 500px; */
  /* top: 13px; */
  /* left: 0; */
  position: relative;
  font-size: var(--headline-60px-font-size);
  line-height: var(--headline-60px-line-height);
  font-family: var(--headline-60px-font-family);
  font-weight: var(--headline-60px-font-weight);
  color: #ffffff;
  letter-spacing: var(--headline-60px-letter-spacing);
  font-style: var(--headline-60px-font-style);
}

.home .footer {
  position: relative;
  align-self: stretch;
  width: 100%;
  min-height: 125px;
  background-color: #2b2b2b;
}

.home .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 51px;
  left: 622px;
}

.home .wallet-2 {
  position: relative;
  /* width: 163px; */
  height: 24px;
  display: flex;
  margin: auto;
}

.home .wallet-3 {
  /* position: absolute; */
  height: 24px;
  /* top: 0;
  left: 25px; */
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-7 {
  /* position: absolute;
  top: 0;
  left: 0; */
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .wallet-wrapper {
  position: absolute;
  width: 89px;
  height: 34px;
  top: 46px;
  left: 50px;
}

.home .line {
  /* position: absolute; */
  width: 100vw;
  height: 1px;
  background-color: var(--white);
  border-radius: 100px;
  opacity: 0.2;
}