:root {
  --primary-gray: rgba(43, 43, 43, 1);
  --dark-gray: rgba(51, 51, 51, 1);
  --green: rgba(0, 147, 121, 1);
  --blue: rgba(51, 102, 255, 1);
  --red: rgba(255, 98, 80, 1);
  --yellow: rgba(248, 213, 126, 1);
  --purple: rgba(191, 175, 242, 1);
  --light-gray: rgba(196, 196, 196, 1);
  --white: rgba(255, 255, 255, 1);
  --body-18px-font-family: "Poppins", Helvetica;
  --body-18px-font-weight: 400;
  --body-18px-font-size: 18px;
  --body-18px-letter-spacing: 0px;
  --body-18px-line-height: 32px;
  --body-18px-font-style: normal;
  --headline-60px-font-family: "Poppins", Helvetica;
  --headline-60px-font-weight: 600;
  --headline-60px-font-size: 60px;
  --headline-60px-letter-spacing: 0px;
  --headline-60px-line-height: 90px;
  --headline-60px-font-style: normal;
  --body-bold-18px-font-family: "Poppins", Helvetica;
  --body-bold-18px-font-weight: 600;
  --body-bold-18px-font-size: 18px;
  --body-bold-18px-letter-spacing: 0px;
  --body-bold-18px-line-height: 32px;
  --body-bold-18px-font-style: normal;
  --secondary-body-semi-bold-24px-font-family: "Poppins", Helvetica;
  --secondary-body-semi-bold-24px-font-weight: 600;
  --secondary-body-semi-bold-24px-font-size: 24px;
  --secondary-body-semi-bold-24px-letter-spacing: 0px;
  --secondary-body-semi-bold-24px-line-height: 40px;
  --secondary-body-semi-bold-24px-font-style: normal;
  --headline-40px-font-family: "Poppins", Helvetica;
  --headline-40px-font-weight: 600;
  --headline-40px-font-size: 40px;
  --headline-40px-letter-spacing: 0px;
  --headline-40px-line-height: 60px;
  --headline-40px-font-style: normal;
}